                                                                          /* general */
.anchor{
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
}

.logo{
    
animation: kenburns-top 2.5s ease-out both;


}

.ul_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}





                                                                            /* index */

.body_index{
    margin:0px ;
    background-color: black;
}                                                                          

.lista_no{
    display: flex;
    justify-content: end;
    flex-direction: row;
    padding: 1rem;
    background-color: black;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    flex-direction: row;

}

.header_nav{

    display: flex;
}

.header_list{
    justify-content: space-between;
    display: flex;
    background: black;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.footer_parrafo{
    color: yellow;
}

.presentacion{
    color: black;
}

.logos{
    color: yellow;
}



.anchor{
    margin: 0rem 1rem;
}


.parrafo_index{
    align-items: center;
    color: yellow;
    background-color: black;
}

.main_index{
    text-align: center;
    margin: 10rem;
    padding: 10rem;
    border: outset;
    background-color: black;
    
}

                                                                          /* Galería */

.parrafo_galeria{
    color: yellow;
}







                                                                          /* La Empresa */

.header_empresa{
    display: flex;
    align-items: center;
}

.body{
    background-color: black;

}


.parrafo_empresa{
    align-items: center;
    color: yellow;
    background-color: black;
}

.main_empresa{


    text-align: center;
    margin: 10rem;
    padding: 10rem;
    border: outset;
    
}

.div_empresa{
    display: flex;
    justify-content: end;

}







                                                                     /* Contacto */


.form{
    color: yellow;
    display: grid;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}


.logos{
    color: yellow;

}

.div_main{
    display: flex; 
    justify-content: space-evenly;
}

.parrafo_contacto{
    color: yellow;
}


                                                                           /* tienda */

.body_tienda{
    margin: 0px;
    background-color: black;
}

.footer_tienda{
    display: flex;
    justify-content: space-between;
    background-color: black;
}



                                                                       /* media queries */

@media screen and (max-width: 1024px) {
    .main_empresa{


        text-align: center;
        margin: 10rem;
        padding: 10rem;
        border: outset;
    
}









@media screen and (max-width: 768px) {
    /* index */

    .header_list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        flex-direction: row;
    }

    .header{   
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    flex-direction: row;
        
        }
        .logo{
            align-self: baseline
        }
        .main_index{
            padding: inherit;
            margin: 0px;
    
        }
        .div_video{
            height: 150px;
        }

    


/* la empresa */

.main_empresa{
    padding: inherit;
    margin: 0px;

}

.div_video{
    height: 150px;
}


}





@media screen and (max-width: 425px) {
    /* index */

    .header_list{
    background-color: black;
    flex-direction: column;
    align-items: end
    
    }
    .logo{
        align-self: baseline
    }

    .main_index{
        padding: inherit;
        margin: 0px;

    }
    .div_video{
        height: 150px;
    }

    /* contacto */

    .header{
        background-color: black;
        flex-direction: column;
        align-items: end
    }

    .div_main{
        display: inline-grid;
    }
    
    
        /* la empresa */


        .header{
            background-color: black;
            flex-direction: column;
            align-items: end
        }

        .main_empresa{
            padding: inherit;
            margin: 0px;
        }

        .div_video{
            height: 150px;
        }


/* galeria */





}





}