.h1, .p {
    font-family: 'Comfortaa', cursive;
}

.p-3, .p, .card-text {
    font-family: 'Comfortaa', cursive;
  }

.empresa {


    text-align: center;
    margin: 10rem;
    padding: 10rem;
    border: outset;
    
}