.bodyc {
    background-color: black;
    margin-top: 20rem; }
  .google{
    width: 80%;
    height: 450px;
    border: 0; }

  .container {
    margin-top: 15rem; }
  
  .fa-facebook {
    color: blue; }
  
  .fa-whatsapp {
    color: green; }
  
  .fa-google {
    color: white; }
  
  .fa-youtube {
    color: red; }
  
  .fa-instagram {
    color: magenta; }
  
  .cc {
    margin: 15px;
    color: yellow;
    margin-top: 15rem; }
  
  .rr {
    width: 40%; }
  
  .thumb-content {
    margin-top: 1rem; }
  