.h1, .p, .p-3, .card-text {
    font-family: 'Comfortaa', cursive;
    color: yellow; }
  
  .header {
    color: darkslategray; }
  
  .img_header {
    height: 130px; }
  
  .body {
    background-color: black; }
  